<!DOCTYPE html>
<html>
<head>

    <title>Print a Label</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes" />

    <!--
    Chrome 35 has old :host behavior before :host-context addition.
    Since Chrome 35 does not have HTMLImports, we can use this as a decent signal
    to force the ShadowDOM Polyfill.
    -->
    <script>
      if (!('import' in document.createElement('link'))) {
        var Platform = {flags: {shadow: true}};
      }
    </script>

    <!-- 1. Load platform support before any code that touches the DOM. -->
    <script src="../webcomponentsjs/webcomponents.min.js"></script>

    <!-- 2. Load the component using an HTML Import -->
    <link rel="import" href="../font-roboto/roboto.html" />
    <link rel="import" href="gdg-event.html" />

    <style shim-shadowdom>
        html,body {
        height: 100%;
        margin: 0;
        background-color: #E5E5E5;
        font-family: 'RobotoDraft', sans-serif;
        }
        core-header-panel {
        height: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        }
        paper-checkbox {
        padding: 20px;
        }
    </style>
</head>
<body fullbleed vertical layout unresolved>
    <gdg-event name="2015-05-28 I/O 15 Extended"></gdg-event>
</body>
</html>